.movie {
  padding: 5rem 0;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--bg-main);
  &__title {
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    text-align: center;
    margin-bottom: 3.5rem;
    margin-top: 1rem;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    overflow: hidden;
  }
  &__container {
    width: 85vw;
    max-width: var(--max-width);
    margin: 0 auto;
    text-align: left;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
    align-items: center;
    @include responsive-sm() {
      display: block;
    }
    img {
      border-radius: 0.25rem;
    }
    p {
      font-weight: bold;
      text-transform: capitalize;
      margin-top: 0.25rem;
      line-height: 1.8;
      @include responsive-sm() {
        margin-top: 0.5rem;
      }
    }
    button,
    a {
      margin-top: 1rem;
      align-self: start;
    }

    span {
      margin-right: 0.5rem;
    }
  }
  &__data {
    background: var(--primary);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    color: var(--white);
  }
  &__alert {
    padding: 10px;
    background: var(--white-2);
    align-self: start;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
    &--active {
      transform: translateX(0);
    }
    p {
      @include align-center();
      color: var(--green);
      font-size: 20px;
      svg {
        margin-left: 15px;
      }
    }
  }
}
